.organizationRow {
  width: 100%;
  justify-content: space-between;
  text-align: left;
}

.left {
  display: flex;
  gap: var(--st-spacing-2);
  align-items: center;
}

.nameText {
  overflow-wrap: anywhere;
}

.logo {
  flex: 0 0 auto;
  width: var(--st-spacing-6);
  height: var(--st-spacing-6);
  border-radius: var(--st-rounded-base);
  background-color: var(--st-primary);
  color: var(--st-primary-foreground);

  text-align: center;
  font-family: var(--st-font-family);
  font-size: var(--st-text-sm);
  line-height: calc(var(--st-spacing-6) - 1px);
  font-weight: var(--st-font-weight-medium);
}

.right {
  flex: 0 0 auto;
}

.rightContent {
  height: var(--st-spacing-6);
  display: flex;
  align-items: center;
  justify-content: end;
  color: var(--st-muted-foreground);
  min-width: 20px;
}

.arrow {
  composes: rtlIcon from '../../components/mixins/i18n.module.css';
}
