.item {
  /*
   * We use inline styling to position these to make them inherit text-based properties like
   * line-height, which would otherwise be almost impossible to do with flexbox.
   * Simulating hanging text-indent (the real thing isn't supported by most browsers yet).
   * The spacing is 4 units of icon width + 2 units of margin.
   */
  text-indent: calc(-1 * var(--st-spacing-6));
  margin-left: var(--st-spacing-6);

  svg {
    height: var(--st-spacing-4);
    vertical-align: middle;
    display: inline-block;
    width: var(--st-spacing-4);
    margin-right: var(--st-spacing-2);
  }
}

.bullet {
  display: inline-block;
  width: var(--st-spacing-4);
  margin-right: var(--st-spacing-2);

  /* text-indent is inherited lol */
  text-indent: 0;
  text-align: center;

  &::before {
    content: '•';
  }
}
