.container {
  display: flex;
  gap: var(--st-spacing-0_5);
  border-radius: var(--st-rounded-full);
  overflow: clip;
  transition: height var(--st-transition-duration);
  height: 0;
}

.container:is(.weak, .strong) {
  height: var(--st-spacing);
}

.block {
  flex: 1 1 auto;
  height: var(--st-spacing);
  background: var(--st-muted);

  &.filled {
    .weak & {
      background: var(--st-destructive);
    }

    .strong & {
      background: var(--st-success);
    }
  }
}
