# Copy this from your Stytch Dashboard
NEXT_PUBLIC_STYTCH_PUBLIC_TOKEN=public-token-...
# Replace with the name you use in remote dev
NEXT_PUBLIC_TEST_API_URL=https://test.$NAME.dev.stytch.com
NEXT_PUBLIC_LIVE_API_URL=https://api.$NAME.dev.stytch.com
NEXT_PUBLIC_DFP_BACKEND_URL=https://telemetry.$NAME.dev.stytch.com
NEXT_PUBLIC_DFP_CDN_DOMAIN=elements.stytch.com
NEXT_PUBLIC_CLIENTSIDE_SERVICES_IFRAME_URL=http://localhost:8076