# Copy this from your Stytch Dashboard
REACT_APP_STYTCH_PUBLIC_TOKEN=public-token-...
# Replace with the name you use in remote dev
REACT_APP_TEST_API_URL=https://test.$NAME.dev.stytch.com
REACT_APP_LIVE_API_URL=https://api.$NAME.dev.stytch.com
REACT_APP_CLIENTSIDE_SERVICES_IFRAME_URL=http://localhost:8076
REACT_APP_DEMO_URL=http://localhost:3000
REACT_APP_DFP_CDN_DOMAIN=elements.stytch.com
REACT_APP_DFP_BACKEND_URL=https://telemetry.$NAME.dev.stytch.com